Check attributes case insensitivity

[RFC7643 §2.1](https://datatracker.ietf.org/doc/html/rfc7643#section-2.1) indicates that:

    Attribute names are case insensitive and are often "camel-cased" (e.g., "camelCase").

scim2-tester should make some requests with different cases and check that servers handle them correctly.